<div class="new-station">
  (12 Station max for now)
  <%= link_to 'NEW STATION', new_station_path, class: 'btn btn-default' %>
</div>

<div class="stations">
  <% @stations.each do |station| %>
    <%= link_to station, class: "station" do %>

      <% if station.active %>
        <div class="active-status active">LIVE</div>
      <% else %>
        <div class="active-status inactive">INACTIVE</div>
      <% end %>

      <div class="station-content">
        <%= station.name %>
      </div>

    <% end %>
  <% end %>
</div>
