<p id="notice"><%= notice %></p>

<div class="station show">
  <div class="station-content">
    <%= @station.name %>
  </div>
</div>

<div id="station-song-loader">
  <div class="loader-content">
    Drag and drop spotify tracks or playlists
  </div>
</div>

<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>
