// Place all the styles related to the Stations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap_configuration";

.new-station {
  text-align: right;
  margin-bottom: 2%;
  .btn {
    margin-left: 2%;
    background-color: #7ED321;
    border-radius: 0;
    &:hover {
      background-color: $brand-primary;
    }
  }
}

.station {
  position: relative;
  width: 23%;
  padding-bottom: 23%;
  margin: 1.3333%;
  float: left;
  border: 1px solid #979797;
  background-color: #D8D8D8;
  text-decoration: none;
  color: $text-color;

  &:nth-of-type(4n+1) {
    margin-left: 0;
  }
  &:nth-of-type(4n+4) {
    margin-right: 0;
  }

  &:hover {
    background-color: $brand-primary;
  }

  .station-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.show {
    margin: 0;
    width: 15%;
    padding-bottom: 15%;
    &:hover {
      background-color: #D8D8D8;
    }

  }

}

#station-song-loader {
  position: relative;
  width: 70%;
  padding-bottom: 15%;
  margin-left: 5%;
  float: right;
  border: 1px solid #979797;
  background-color: #D8D8D8;
  text-decoration: none;
  color: $text-color;

  content: "Drag or drop spotify playlists";

  &.draggingOver {
    background-color: green;
  }

  &.dropped {
  }

  .loader-content {
    pointer-events: none;
    color: #9B9B9B;
    font-size: 1.4em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

