// Place all the styles related to the Stations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap_configuration";
@import "bootstrap-sprockets";
@import "bootstrap";

.new-station {
  text-align: right;
  margin-bottom: 2%;
  .btn {
    margin-left: 2%;
    background-color: $lima;
    border-radius: 0;
    &:hover {
      background-color: $deep-magenta;
    }
  }
}

section.margin-bottom {
  margin-bottom: 2%;
}

.station {
  position: relative;
  width: 23%;
  padding-bottom: 23%;
  margin: 1.3333%;
  display: inline-block;
  border: 1px solid $mountain-mist;
  background-color: $iron;
  text-decoration: none;
  color: $text-color;

  &:hover {
    background-color: $deep-magenta;
    color: $text-color;
  }

  &:nth-of-type(4n+1) {
    margin-left: 0;
  }

  &:nth-of-type(4n+4) {
    margin-right: 0;
  }

  &.show-page {
    margin: 0;
    width: 15%;
    padding-bottom: 15%;
    &:hover {
      background-color: $iron;
    }
  }

  .station-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#station-song-loader {
  position: relative;
  width: 80%;
  padding-bottom: 15%;
  margin-left: 5%;
  float: right;
  border: 1px solid $mountain-mist;
  background-color: $iron;
  text-decoration: none;
  color: $text-color;

  content: "Drag or drop spotify playlists";

  &.draggingOver {
    background-color: $lima;
  }

  &.dropped {
  }

  .loader-content {
    pointer-events: none;
    color: $star-dust;
    font-size: 1.4em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.station-toolbar {
  width: 100%;

  .total-tracks {
    display: inline-block;
  }

  .station-sort {
    float: right;
    color: $star-dust;
    font-size: 0.8em;

    #sort-select {
      margin-left: 0.5em;
    }
  }
  .update-station {
    float: right;
    background-color: $lima;
    border-radius: 0;
    &:hover {
      background-color: $deep-magenta;
    }
  }
}

.filters {
  padding-left: 1em;
  display: inline-block;
  font-size: 1.2em;

  .filter-btn {
    display: inline-block;
    margin-right: 1em;
    cursor: pointer;
    color: $star-dust;

    &.active {
      color: $lima;
    }
  }
}

$track-height: 48px;

.rating-labels {
  float: right;
  height: 3em;
  font-size: 0.8em;
  color: $star-dust;
  width: $track-height * 5 + 4;

  div {
    height: 3em;
    width: $track-height;
    display: inline-block;
  }

  .more-popular {
  }

  .less-popular {
    text-align: right;
    direction: rtl;
    float: right;
  }
}

#tracks {
  width: 100%;
}

.track {
  display: none;
  height: $track-height;
  margin-bottom: 1px;
  padding: 0;
  width: 100%;

  &:nth-of-type(even) {
    background-color: $ebb;
  }

  &:nth-of-type(odd) {
    background-color: $iron;
  }

  &:hover {
    background-color: white;

    .rating-selector .rating-item {
      background-color: $iron;
    }

  }

  .track-cell {
    text-align: center;
    display: inline-block;
    line-height: $track-height;
    overflow: hidden;
    white-space: nowrap;
  }

  .delete-track {
    width: 6%;
    cursor: pointer;
  }

  .track-title {
    width: 24%;
    text-align: left;
  }

  .track-artist {
    width: 24%;
    text-align: left;
  }

  .undergroundness-label {
    display: inline-block;
  }

  /* width makes 99% in total. 100% and it does not stack - we hack this by
   * floating right */
  .undergroundness-rating {
    width: 45%;
    float: right;
    text-align: right;
  }

  .rating-selector {
    height: $track-height;
    display: inline-block;
    float: right;
    margin-left: 10px;

    .rating-item {
      height: $track-height;
      width: $track-height;
      margin-left: 1px;
      background-color: $dark-gray;
      float: right;

      &:hover {
        background-color: $deep-magenta;
      }

      &.selected {
        background-color: $deep-magenta;
      }
    }
  }
}


