// Place all the styles related to the Stations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap_configuration";

.new-station {
  text-align: right;
  margin-bottom: 2%;
  .btn {
    margin-left: 2%;
    background-color: $lima;
    border-radius: 0;
    &:hover {
      background-color: $deep_magenta;
    }
  }
}

.station {
  position: relative;
  width: 23%;
  padding-bottom: 23%;
  margin: 1.3333%;
  float: left;
  border: 1px solid $mountain_mist;
  background-color: $iron;
  text-decoration: none;
  color: $text-color;

  &:nth-of-type(4n+1) {
    margin-left: 0;
  }
  &:nth-of-type(4n+4) {
    margin-right: 0;
  }

  &:hover {
    background-color: $deep_magenta;
    color: $text-color;
  }

  .station-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.show {
    margin: 0;
    width: 15%;
    padding-bottom: 15%;
    &:hover {
      background-color: $iron;
    }

  }
}

#station-song-loader {
  position: relative;
  width: 70%;
  padding-bottom: 15%;
  margin-left: 5%;
  float: right;
  border: 1px solid $mountain_mist;
  background-color: $iron;
  text-decoration: none;
  color: $text-color;

  content: "Drag or drop spotify playlists";

  &.draggingOver {
    background-color: $lima;
  }

  &.dropped {
  }

  .loader-content {
    pointer-events: none;
    color: $star_dust;
    font-size: 1.4em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.station-toolbar {
  width: 100%;

  .total-tracks {
    float: left;
  }
  .station-sort {
    float: right;
  }
  .update-station {
    float: right;
    background-color: $lima;
    border-radius: 0;
    &:hover {
      background-color: $deep_magenta;
    }
  }
}

.row {
  margin-bottom: 2%;
}

td.no-padding {
  padding: 0;
}

.undergroundness-label {
  float: left;
  margin-right: 1em;
}

.rating-selector {
  display: inline-block;
  .rating-item {
    height: 1.8em;
    width: 1.8em;
    background-color: $dark_gray;
    float: left;
    margin-left: 1px;

    &:hover {
      background-color: $deep_magenta;
    }

    &.selected {
      background-color: $deep_magenta;
    }
  }
}

